<!DOCTYPE html>
<meta charset="utf-8">
<style>

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

</style>
<svg width="960" height="960"></svg>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://unpkg.com/topojson-client@3"></script> 
<script src="http://d3js.org/topojson.v1.min.js"></script>

<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var projection = d3.geo.mercator()

var path = d3.geo.path()
    .projection(projection);

var graticule = d3.geo.graticule();

svg.append("defs").append("path")
    .datum({type: "Sphere"})
    .attr("id", "sphere")
    .attr("d", path);

svg.append("use")
    .attr("class", "stroke")
    .attr("xlink:href", "#sphere");

svg.append("use")
    .attr("class", "fill")
    .attr("xlink:href", "#sphere");

svg.append("path")
    .datum(graticule)
    .attr("class", "graticule")
    .attr("d", path);

d3.json("https://unpkg.com/world-atlas@1/world/50m.json", function(error, world) {
  if (error) throw error;

  projection
  .scale((width - 3) / (2 * Math.PI))
    .translate([width / 2, height / 2]);
  
    svg.insert("path", ".graticule")
      .datum(topojson.feature(world, world.objects.land))
      .attr("class", "land")
      .attr("d", path);

  svg.insert("path", ".graticule")
      .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
      .attr("class", "boundary")
      .attr("d", path);



      //Load in meteorite json
                var queryUrl = "https://raw.githubusercontent.com/AbrahamEapen/Meteorite-Market/master/templates/meteorites.json"

					d3.json(queryUrl, function(error, data) {
						console.log(data)
						svg.selectAll("circle")
						   .data(data)
						   .enter()
                           .append("circle")
						   .attr("r", function(d, i){
                            try{
                                    console.log(d.mass);
                                    console.log("We made it to the " + i + " index")

                                if (parseInt(d.mass) > 1000000){

                                }
                                else {
                                    console.log(parseInt(d.mass / 20000));
                                   return parseInt(d.mass / 20000);
                                }

                            }
                                catch(err){
                                    console.log("suck it")
                                }
                           })
						   .style("fill", "yellow")
						   .style("stroke", "gray")
						   .style("stroke-width", 0.25)
                           .style("opacity", 0.75)
                           .attr("cy", function(d, i){

                                try{
                                        console.log(d);
                                    console.log("We made it to the " + i + " index")
                                console.log(projection(d.geolocation.coordinates)[1]);
                                return projection(d.geolocation.coordinates)[1];
                                }
                                catch(err){
                                    console.log("suck it")
                                }
                           })
                           .attr("cx", function(d) {

                            try{
                                console.log(d);
                               console.log(projection(d.geolocation.coordinates)[0]);
                               return projection(d.geolocation.coordinates)[0];

                            }
                            catch(err){
                                console.log("suck it")
                            }
                           })

						   .append("title")			//Simple tooltip
						   .text(function(d) {
                             //  console.log(geolocation.coordinates)
								//return d.fall + ": fall. " + (d.mass);
                        //   }
                    });
						
					});
});

</script>